:root {
    --clean-green: #5EF38C;
    --clean-blue: #006DAA;
    --clean-white: #efffff;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.custom-bg-green {
    background-color: var(--clean-green); 
}

.section {
    height: 100vh;
}