<!-- HEADER -->
<%= render partial: 'commons/header' %>



<!-- CONTENT HERE -->
<div class="section container" >
    <div class="d-flex justify-content-center align-items-center vh-100">
        <div class="typography text-center ">
            <h2>I DON'T KNOW WHAT THE FUCK TO SAY!!</h2>
            <hr>
            <p>JUST GO WITH THE FLOW... FUCK YOU!</p>
            <div class="mt-2 row justify-content-evenly">
                <a href="#" class="btn btn-outline-primary btn-lg col-5 "> FIND WORK </a>
                <a href="#" class="btn btn-outline-success btn-lg col-5 "> FIND HELPER </a>
            </div>
        </div>
        
    </div>
</div>



<!-- FOOTER -->
<%= render partial: 'commons/footer' %>